@media (max-width: 1024px) {
  .sidebar-search {
    z-index: 2;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 0;
    background: #166bc1;
    box-shadow: 0 0.1rem 0.4rem black;

  }
  .search-open {
    min-height: 25rem;
    height: 40vh;
  }

  .mobile-search {
    display: none;
  }

  .mobile-search-bar {
    width: 80%;
    height: 100%;
    background: transparent;
    position: relative;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      color: rgb(255,255,255);
      background: rgba(255,255,255,0.2);
      width: 80%;
      min-height: 2.4rem;
      border-radius: 0.4rem;
      height: 4vh;
      border: none;
      text-align: center;
      font-size: 1.4rem;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: rgba(255,255,255,0.4);
      }
    }
  }

  .mobile-suggestions {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

    .mobile-show-all {
      text-decoration: none;
      color: white;
      border-top: 0.1rem solid white;
      text-align: center;
      padding: 0.7rem;
      font-size: 1.4rem;

      h4 {
        &:hover {
          background: #166bc1;
          color: white;
        }
      }
    }

    h4 {
      text-align: center;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
  .search-visible {
    z-index: 2;
    display: flex;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .mobile-suggested-element {
    height: 50%;
    width: 100%;
    border-top: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;

    &:first-child {
      border-top: none;
    }

    &:hover {
      background: $primaryColor;
    }
  }
}

@media (max-height: 560px) {
  .sidebar-search {
    top: 5rem;
  }
}
