.display-type {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .inactive {
    cursor: pointer;

    .flex-line {
      background: $grayColor;
    }

    .grid-box {
      border: 0.2rem solid $grayColor;
    }
  }
}

.grid-container {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0.3rem;

  &:hover {
    .grid-box {
      border: 0.2rem solid $primaryColor;
    }
  }
}

.grid-box {
  height: 45%;
  width: 40%;
  border: 0.2rem solid $primaryColor;
  border-radius: 4px;
}

.flex-container {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  margin: 0 0.3rem;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;

  &:hover {
    .flex-line {
      background: $primaryColor;
    }
  }

}

.flex-line {
  width: 100%;
  height: 0.2rem;
  background: $primaryColor;

  &:nth-child(2) {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .display-type {
    display: none;
  }
}
