body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
}

.main-wrapper {
  width: 70%;
  margin: 0.5rem auto 0 auto;
}

@media (max-width: 1024px) {
  .main-wrapper {
    width: 90%;
  }
}
header {
  width: 100%;
  min-height: 5rem;
  height: 8vh;
  background: #1976d2;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

nav {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1440px) {
  nav {
    width: 90%;
  }
}
@media (max-width: 1228px) {
  nav {
    width: 95%;
  }
}
@media (max-width: 1024px) {
  nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
.loading-container {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 1.5rem;
  width: 6rem;
  display: flex;
  flex-direction: row;
  background: transparent;
  justify-content: center;
  align-items: center;
}

.loading-circle {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  background: #1976d2;
}

.first {
  animation: circle-animation 0.5s ease-in-out infinite;
}

.second {
  animation: circle-animation 0.5s ease-in-out infinite 0.1s;
}

.third {
  animation: circle-animation 0.5s ease-in-out infinite 0.2s;
}

@keyframes circle-animation {
  50% {
    opacity: 0;
  }
}
.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 77%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  position: relative;
  animation: rotate 0.5s infinite linear;
}

.spinner:after {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  content: "";
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.main-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(267px, 300px));
  grid-template-rows: auto;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.main-grid a {
  text-decoration: none;
}

.main-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-flex a {
  text-decoration: none;
}

.movie-element-flex {
  width: 100%;
  height: 25rem;
  margin: 0.5rem auto 0.5rem auto;
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.2rem #1976d2;
  transition: transform 0.2s;
}
.movie-element-flex:hover {
  transition: transform 0.2s;
  transform: scale(1.03);
}

.movie-image-flex {
  min-width: 20rem;
  width: 15%;
  height: 100%;
}
.movie-image-flex img {
  height: 100%;
  width: 100%;
}

.movie-details-flex {
  width: 85%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.title-flex {
  height: 100%;
  width: 75%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-flex .title {
  font-size: 1.8rem;
  color: #80818a;
  display: block;
  text-decoration: none;
}
.title-flex p {
  color: #888484;
  font-size: 1.2rem;
}
.title-flex i {
  color: #1976d2;
  font-size: 1.2rem;
}

.vote-average-flex {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote-average-flex h4 {
  color: #1976d2;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  border: 0.1rem solid #1976d2;
}

.movie-element-grid {
  width: 100%;
  height: 50rem;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.2rem #1976d2;
  transition: transform 0.2s;
}
.movie-element-grid:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}

.movie-image-grid {
  width: 100%;
  height: 40rem;
}
.movie-image-grid img {
  height: 100%;
  width: 100%;
}

.movie-details-grid {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: row;
}

.title-grid {
  height: 100%;
  width: 70%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title-grid p {
  font-size: 1.6rem;
  color: #80818a;
  display: block;
  text-decoration: none;
}
.title-grid i {
  color: #1976d2;
}

.vote-average-grid {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote-average-grid h4 {
  color: #1976d2;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  border: 0.1rem solid #1976d2;
}

@media (max-width: 1024px) {
  .movie-element-grid {
    margin: 0 auto 0 auto;
  }
  .movie-element-grid:hover {
    transition: none;
    transform: none;
    box-shadow: none;
  }

  .title-grid p {
    font-size: 1.9rem;
  }
  .title-grid i {
    font-size: 1.3rem;
  }

  .vote-average-grid h4 {
    color: #1976d2;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 0.1rem solid #1976d2;
  }
}
.tab-menu {
  width: 100%;
  height: 6vh;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
}

.tab-links {
  width: 80%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tab-links a {
  margin: 0 1.5rem;
}
.tab-links li {
  font-size: 1.4rem;
  padding: 1.4rem;
}
.tab-links li:hover {
  color: #1976d2;
}

@media (max-width: 1024px) {
  .tab-menu {
    display: none;
  }
}
.search-options {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.search-options input,
.search-options select {
  height: 90%;
  border: none;
  border-bottom: 0.1rem solid #80818a;
  padding: 1.4rem;
  color: #80818a;
  outline-color: #166bc1;
  background: transparent;
}
.search-options input:hover::placeholder,
.search-options select:hover::placeholder {
  color: #1976d2;
}
.search-options input:hover,
.search-options select:hover {
  border-bottom: 0.1rem solid #1976d2;
  color: #1976d2;
}
.search-options input:focus,
.search-options select:focus {
  border-bottom: 0.1rem solid #1976d2;
}

@media (max-width: 1440px) {
  .search-options select,
.search-options input {
    width: 30%;
    padding: 1rem 1rem;
  }
}
@media (max-width: 1024px) {
  .search-options {
    flex-direction: column;
    width: 50%;
  }
  .search-options select,
.search-options input {
    width: 80%;
    height: 30%;
    padding: 1rem 1rem;
    border: 0.1rem solid #80818a;
    background: transparent;
  }
  .search-options input {
    padding: 1rem 1.5rem;
  }
}
@media (max-width: 786px) {
  .search-options {
    width: 65%;
  }
}
@media (max-width: 450px) {
  .search-options {
    width: 100%;
  }
}
.search-results {
  display: flex;
  width: 20%;
  height: 100%;
  color: #166bc1;
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
}
.search-results h4 {
  font-size: 1.4rem;
}

@media (max-width: 1024px) {
  .search-results {
    width: 100%;
    min-height: 5rem;
    height: 5vh;
    font-size: 1.2rem;
    text-align: center;
  }
}
.display-type {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.display-type .inactive {
  cursor: pointer;
}
.display-type .inactive .flex-line {
  background: #80818a;
}
.display-type .inactive .grid-box {
  border: 0.2rem solid #80818a;
}

.grid-container {
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 0.3rem;
}
.grid-container:hover .grid-box {
  border: 0.2rem solid #1976d2;
}

.grid-box {
  height: 45%;
  width: 40%;
  border: 0.2rem solid #1976d2;
  border-radius: 4px;
}

.flex-container {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  margin: 0 0.3rem;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
}
.flex-container:hover .flex-line {
  background: #1976d2;
}

.flex-line {
  width: 100%;
  height: 0.2rem;
  background: #1976d2;
}
.flex-line:nth-child(2) {
  width: 70%;
}

@media (max-width: 1024px) {
  .display-type {
    display: none;
  }
}
.search-menu {
  width: 100%;
  height: 6vh;
  margin: 2rem;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .search-menu {
    flex-direction: column;
    margin: 0;
    min-height: 18rem;
    height: 25vh;
    align-items: center;
    margin-bottom: 1rem;
  }
}
.discover-menu {
  width: 100%;
  height: 6vh;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .discover-menu {
    flex-direction: column;
    margin: 0 0 1rem 0;
    min-height: 18rem;
    height: 25vh;
    align-items: center;
  }
}
.main-details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.main-details-wrapper img {
  padding: 2rem;
}

.movie-details {
  padding: 2rem;
  width: 50%;
}
.movie-details p {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}
.movie-details p span {
  color: #166bc1;
  font-size: 1.4rem;
}

@media (max-width: 786px) {
  .main-details-wrapper {
    flex-direction: column;
  }
  .main-details-wrapper img {
    padding: 0;
  }

  .movie-details {
    width: 100%;
  }
  .movie-details p {
    font-size: 1.3rem;
    letter-spacing: unset;
  }
}
@media (min-width: 576px) and (max-width: 786px) {
  .main-details-wrapper {
    flex-direction: row;
    margin-bottom: 1rem;
  }
}
.header-container {
  width: 100%;
  min-height: 30rem;
  height: 55vh;
  background-color: black;
  margin-bottom: 3vh;
  padding: 1rem 0;
}

.header-wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: saturate(1.5);
  box-shadow: inset 0 0 5rem 2rem black, inset 0 0 3rem;
  display: flex;
  align-items: flex-end;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.header-details {
  width: 100%;
  height: 50%;
  padding: 0 5rem;
}
.header-details h1 {
  color: white;
  font-size: 4.2rem;
  text-transform: uppercase;
}
.header-details h4 {
  color: #1976d2;
  font-size: 1.6rem;
  padding: 0.2rem 0;
  font-style: italic;
}
.header-details p {
  color: #cec7c7;
  font-size: 1.3rem;
}
.header-details span {
  display: flex;
}
.header-details span p {
  color: #cec7c7;
  margin: 0.5rem 0.3rem 0.5rem 0;
  font-size: 1.4rem;
}
.header-details span ul {
  color: #cec7c7;
  list-style: none;
  display: flex;
}
.header-details span ul li {
  margin: 0.5rem 0.3rem;
  font-size: 1.4rem;
}
.header-details h5 {
  color: #cec7c7;
  margin: 0.5rem 0.3rem 0.5rem 0;
  font-size: 1rem;
  font-style: italic;
}

.vote-numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vote-numbers p {
  color: #cec7c7;
  font-size: 1.4rem;
  margin: 0 1rem;
  padding-right: 2rem;
}
.vote-numbers p span {
  font-weight: bold;
}
.vote-numbers h2 {
  display: inline-block;
  padding: 1rem 2rem;
  color: #1976d2;
  border: 0.2rem solid #1976d2;
  font-size: 2.2rem;
}

@media (max-width: 1440px) {
  .header-details h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 786px) {
  .header-container {
    min-height: 20rem;
    height: 70vh;
  }

  .header-wrapper {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    background-attachment: scroll;
  }

  .header-details {
    padding: 0 1rem;
    min-height: 15rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-details h1 {
    font-size: 2.2rem;
  }
  .header-details h4 {
    font-size: 1.3rem;
  }
  .header-details span p {
    font-size: 1.2rem;
  }
  .header-details span ul li {
    font-size: 1.2rem;
  }

  .vote-numbers {
    margin: 0;
    padding: 1rem 0;
  }
  .vote-numbers p {
    font-size: 1.2rem;
  }
  .vote-numbers h2 {
    font-size: 1.8rem;
    padding: 0.8rem 1.6rem;
  }
}
@media (min-width: 576px) and (max-width: 786px) {
  .header-details h1 {
    font-size: 2.4rem;
  }
  .header-details h4 {
    font-size: 1.8rem;
  }
  .header-details span p {
    font-size: 1.4rem;
  }
  .header-details span ul li {
    font-size: 1.4rem;
  }

  .vote-numbers p {
    font-size: 1.6rem;
  }
  .vote-numbers h2 {
    font-size: 2.4rem;
    padding: 1rem 2rem;
  }
}
.mobile-language-select {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: whitesmoke;
}

.flag-container {
  width: 6rem;
  min-height: 3rem;
  height: 3vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  filter: grayscale(1);
}
.flag-container:hover {
  filter: grayscale(0);
}

@media (max-width: 1024px) {
  .flag-container {
    border: 1px solid black;
    width: 7rem;
    min-height: 3.5rem;
    height: 3.5vh;
  }
}
@media (max-width: 560px) {
  .mobile-language-select {
    padding: 10rem 0;
  }
}
.search-bar {
  width: 25%;
  background: transparent;
  position: relative;
}
.search-bar .search-bar-container {
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
}
.search-bar .search-icon-container {
  width: 20%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar .search-icon {
  font-size: 2.6rem;
}
.search-bar input {
  color: white;
  width: 75%;
  min-height: 2.4rem;
  height: 4vh;
  font-size: 1.4rem;
  background: transparent;
  border: none;
  transition: width 0.2s ease-in;
}
.search-bar input:focus {
  outline: none;
  width: 70%;
  transition: width 0.2s ease-in;
}
.search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.clear-search {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5rem;
  z-index: 1;
}

.suggestions {
  position: absolute;
  width: 100%;
  background: #1976d2;
  display: flex;
  flex-direction: column;
  border-top: none;
  z-index: 1;
}
.suggestions .show-all {
  text-decoration: none;
  background: #125ab4;
  color: white;
  text-align: center;
  padding: 0.7rem;
  font-size: 1.4rem;
}
.suggestions .show-all h4:hover {
  background: #166bc1;
  color: white;
}
.suggestions h4 {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

.suggested-element {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}
.suggested-element:first-child {
  border-top: none;
}
.suggested-element:hover {
  background: #166bc1;
}

@media (max-width: 1024px) {
  .search-bar {
    order: 2;
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .sidebar-search {
    z-index: 2;
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 0;
    background: #166bc1;
    box-shadow: 0 0.1rem 0.4rem black;
  }

  .search-open {
    min-height: 25rem;
    height: 40vh;
  }

  .mobile-search {
    display: none;
  }

  .mobile-search-bar {
    width: 80%;
    height: 100%;
    background: transparent;
    position: relative;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-search-bar input {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    width: 80%;
    min-height: 2.4rem;
    border-radius: 0.4rem;
    height: 4vh;
    border: none;
    text-align: center;
    font-size: 1.4rem;
  }
  .mobile-search-bar input:focus {
    outline: none;
  }
  .mobile-search-bar input::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  .mobile-suggestions {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }
  .mobile-suggestions .mobile-show-all {
    text-decoration: none;
    color: white;
    border-top: 0.1rem solid white;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.4rem;
  }
  .mobile-suggestions .mobile-show-all h4:hover {
    background: #166bc1;
    color: white;
  }
  .mobile-suggestions h4 {
    text-align: center;
    padding: 1rem;
    font-size: 1.4rem;
  }

  .search-visible {
    z-index: 2;
    display: flex;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .mobile-suggested-element {
    height: 50%;
    width: 100%;
    border-top: 0.1rem solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
  }
  .mobile-suggested-element:first-child {
    border-top: none;
  }
  .mobile-suggested-element:hover {
    background: #1976d2;
  }
}
@media (max-height: 560px) {
  .sidebar-search {
    top: 5rem;
  }
}
.searchbar-icon {
  display: none;
}

@media (max-width: 786px) {
  .searchbar-icon {
    width: 20%;
    height: 3.2rem;
    display: block;
    order: 3;
    text-align: right;
  }
}
@media (max-width: 1024px) {
  .menu-icon {
    width: 25%;
    height: 3.2rem;
    order: 1;
    z-index: 3;
  }
  .menu-icon svg:active {
    border-radius: 50%;
    animation: menuIconClick 0.6s ease;
  }

  .line {
    margin: 0 auto;
    width: 3.2rem;
    height: 15%;
    background: white;
  }
}
@media (max-width: 786px) {
  .menu-icon {
    order: 1;
    width: 20%;
  }
}
@keyframes menuIconClick {
  from {
    background: #164b80;
  }
  to {
    background: transparent;
  }
}
.language-select {
  width: 25%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1024px) {
  .language-select {
    display: none;
  }
}
.logo {
  width: 15%;
}
.logo a {
  font-size: 2.4rem;
  color: white;
  padding: 1rem;
  text-decoration: none;
}
.logo a:hover {
  background: #166bc1;
  transition: background 0.2s;
  border-radius: 0.8rem;
}

.list {
  width: 35%;
}
.list ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.list ul a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 0.8rem;
  transition: background 0.2s;
}
.list ul a:hover {
  background: #166bc1;
  transition: background 0.2s;
}
.list ul li {
  width: 50%;
  list-style: none;
  font-size: 1.8rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .logo {
    width: 25%;
    text-align: right;
    order: 3;
  }
  .logo h1 {
    font-size: 2.1rem;
  }

  .list {
    display: none;
  }
}
@media (max-width: 786px) {
  .logo {
    order: 2;
    text-align: center;
    width: 60%;
  }
}
.sidebar-menu {
  z-index: 2;
  position: absolute;
  top: 8vh;
  left: 0;
  width: 0;
  height: 92vh;
  transition: all 0.1s;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1024px) {
  .open {
    width: 35%;
    transition: all 0.18s ease;
  }

  .list-visible {
    z-index: 2;
    display: flex;
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    box-shadow: 0.1rem 0 0.4rem black;
  }

  .link-container {
    width: 100%;
    height: 100%;
    background: white;
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
    background: white;
    height: 60%;
    width: 100%;
    padding: 1.6rem;
  }
  .mobile-links a {
    width: 100%;
    height: 20%;
    z-index: 2;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
  }
}
@media (max-width: 560px) {
  .open {
    width: 50%;
  }
}
.button-container {
  width: 64px;
  height: 64px;
  position: fixed;
  right: 40px;
  bottom: 60px;
  background: transparent;
  border: 2px solid #166bc1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}
.button-container:hover {
  transition: background 0.2s;
  background: rgba(25, 118, 218, 0.8);
}
.button-container:active {
  background: rgba(255, 255, 0, 0.6);
}

@media (max-width: 1024px) {
  .button-container {
    background: white;
  }
  .button-container:hover {
    background: transparent;
  }
  .button-container:active {
    background: rgba(255, 255, 0, 0.6);
  }
}
@media (max-width: 425px) {
  .button-container {
    width: 48px;
    height: 48px;
  }
}
.relative-container {
  width: 25%;
  height: 90%;
  background: transparent;
  position: relative;
  border-bottom: 1px solid #80818a;
}
.relative-container:hover {
  border-bottom: 1px solid #1976d2;
}

.year-picker-container {
  width: 100%;
  height: 90%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.input-container input {
  height: 100%;
  width: 75%;
  border: none;
  outline: none;
}
.input-container input:hover {
  color: #1976d2;
  border: none;
}
.input-container input:focus {
  border: none;
}

.date-icon-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-icon-container svg {
  height: 55%;
  width: 55%;
  cursor: pointer;
}

.choose-year-container {
  position: absolute;
  width: 22rem;
  height: 28rem;
  background: white;
  z-index: 1;
  box-shadow: 0 0 0.3rem black;
  padding: 5px;
  border-radius: 1rem;
}

.year-slider {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}
.year-slider svg {
  width: 32%;
  height: 100%;
  cursor: pointer;
}
.year-slider svg:hover {
  background: #f0f0f0;
}
.year-slider h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 36%;
  height: 100%;
  text-align: center;
  font-weight: bold;
}

.year-list {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 5px;
}
.year-list .current-year {
  cursor: default;
  border: 1px solid black;
  background: #2235af;
  color: white;
}
.year-list button {
  background: none;
  border: none;
  cursor: pointer;
}
.year-list button:hover {
  background: #1976d2;
}

.year-reset {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
}
.year-reset button {
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
}
.year-reset button:hover {
  background: whitesmoke;
}

@media (max-width: 1024px) {
  .relative-container {
    height: 28%;
    width: 80%;
    border: 0.1rem solid #80818a;
  }

  .year-picker-container {
    padding: 1rem 1rem;
    background: transparent;
  }

  .date-icon-container svg {
    height: 80%;
    width: 80%;
  }
}

/*# sourceMappingURL=style.css.map */
