header {
  width: 100%;
  min-height: 5rem;
  height: 8vh;
  background: black;
}

nav {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1024px) {
  nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
